*.o
*.exe
*.dll
lib/csvfix/test/tmp
*.a
lib/alib/lib
lib/alib/obj
lib/csvfix/bin
lib/csvfix/obj
*.layout
*.depend
lib/csvfix/tests/tmp
*_build_log.html
lib/doc/output
lib/doc/HTML
desktop.ini
lib/csvfix/installer/Files/*
lib/csvfix/installer/Output/*
*.zip
*backup
*.orig
*.smproj
*.swp
www/public/storage/uploads
